Django==4.2.30
gunicorn==21.2.0
whitenoise==6.7.0
psycopg2-binary==2.9.9
groq==1.0.0
cerebras-cloud-sdk==1.0.0
social-auth-app-django==5.4.1
django-cryptography
django-storages
boto3
django-ipware
django-ratelimit
Pillow

yookassa==3.3.0
redis>=5.0.0
